<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Hola Mundo CRTL</title>
        <meta name="description" content="Curso de AngularJS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./lib/angular.js"></script>
        <script src="./js/app.js"></script>
    </head>
    <body ng-app="appMain" ng-controller="AppMainController">
        <form>
            <p>
                <label for="inputName">Nombre</label>
                <input id="inputName" type="text" ng-model="userName.name"></input>
                <label for="inputApellidos">Apellidos</label>
                <input id="inputApellidos" type="text" ng-model="userName.apellidos"></input>
            </p>
            <p>
                <input type="button" ng-click="borrar();" value="Input Borrar"></input>
                <br/><br/>
                <button ng-click="borrar();">Borrar</button>
            </p>
        </form>
        <p>Bienvenido al curso de {{curso}}</p>
        <p>Hola {{userName.name}} {{userName.apellidos}}</p>
    </body>
</html>