<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Acumulador</title>
        <meta name="description" content="Curso de AngularJS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="../iconBarra.jpg" />
        <script src="../node_modules/angular/angular.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/acumulador.controller.js"></script>
    </head>
    <body ng-app="appMain" ng-controller="AppAcumuladorController as $ctrl">
        <h1>Control de operacion</h1>
        <form style="background-color: #FFFFCC; width: 18%; height: 22%">
            <p>
                <label for="inputIncremento">Incremento: </label>
                <input id="inputIncremento" style="width: 60%"  type="number" ng-model="$ctrl.numero"></input>
            </p>
            <p>
                <button style="width: 100%" ng-click="$ctrl.aumentar();">+</button>
                <br/><br/>
                <button style="width: 100%" ng-click="$ctrl.decrementar();">-</button>
            </p>
        </form>
        <h1>Total:</h1>
        <p>Llevamos acumulados un total de {{$ctrl.total}}</p>

        <div id="divOculto" ng-show="$ctrl.visible">
            <h1><p><b>WIN!!!</b></p></h1>
            <img src="./icono.jpg" />
        </div>
        <br/><br/>
        <ng-include src="'../footer_generic.html'"></ng-include>
    </body>
</html>