<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Pensamientos ZEN</title>
        <meta name="description" content="Curso de AngularJS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="../iconBarra.jpg" />
        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/pensamiento.controller.js"></script>
    </head>
    <body ng-app="appMain" ng-controller="AppPensamientoController as $ctrl">
        <h1>PENSAMIENTOS ZEN</h1>
        <form style="background-color: #FFFFCC; width: 80%">
            <p>
                <label for="inputPensamiento">Dinos lo que piensas: </label>
                <input id="inputPensamiento" style="width: 99%" type="text" ng-model="$ctrl.pensamiento"></input>
            </p>
            <p>
                <button ng-click="$ctrl.anadirPensamiento($ctrl.pensamiento);">Añadir</button>
            </p>
        </form>
        <h3>Pensamientos que has tenido:</h3>
        <ul>
            <li class="item" ng-repeat="pensamiento in $ctrl.aPensamientos">
                Pensamiento nº{{$index+1}}: "{{pensamiento}}"
            </li>
        </ul>
        <br/><br/>
        <ng-include src="'../footer_generic.html'"></ng-include>
    </body>
</html>